*.code-workspace
*.csv
*.jl.*.cov
*.jl.cov
*.jl.mem
*.jld2
*.mp4
coverage-lcov.info
*.mat
*.parquet
.CondaPkg/
/Manifest.toml
/docs/build/
Artifacts.toml
Manifest.toml
LocalPreferences.toml
data
docs/build/
docs/site/
!test/test_timeseries.tsv
